@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

@section pageheader{
    Custom Error Page
}

@section breadcrumb{
    <li><i class="fa fa-laptop"></i>Error</li>
}

<h2 class="text-danger">An error occurred while processing your request.</h2>

